@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse.woff2") format("woff2"),
    url("fonts/Norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  min-height: 100vh;
  margin: 0;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  background-color: white;
  margin: 0em 10em;
}

div.one {
  flex: 1 1 auto;
  background-image: url(./resources/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

div.two {
  flex: 2 1 auto;
  background-color: white;
  border: 1px solid black;
}

div.icon {
  font: Norse;
  background-color: rgb(0, 0, 0 / 50%);
  color: white;
}
